
<input name = "BalanceCuenta" class="balance" id="balance" />

<div class = "cuentasContainer">
    @{

        foreach(string cuenta in ViewBag.cuentas)
        {
            <input type="button" value="@cuenta" onclick="getBalance(this.value);">
        }
    } 
</div>


<script>

    // Peticion Fetch para obtener el balance actual de una cuenta particular de un usuario
      const getBalance = (cuenta = "") => {

        fetch(`https://localhost:44322/CuentasClientes/GetCuentaBalance/?cuenta=${cuenta}`)

            .then(function (res) {
            return res.json();
            })

            .then(function (balance) {
            document.getElementById("balance").value = balance;
        })
}

</script>

@*<script src="~/js/Cuentas.js"></script>*@