@{
    Layout = "_LayoutClientes";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/PoPupWindow.css" />
<link rel="stylesheet" href="/css/dataFormClientes.css"/>

<div class="data-container">

<div class = "cuentasContainer">
            <h1>Seleccione una cuenta de ahorro</h1>
    @{

        foreach(string cuenta in ViewBag.cuentas)
        {
            <input type="button" value="@cuenta" onclick="getBalance(this.value);">
        }
    } 
</div>

<form class="form-data">
       <h1>Balance de la cuenta</h1>
<div class="field">
<input name = "BalanceCuenta" class="input-text" id="balance" />
</div>
</form>

</div>


<script>

    // Peticion Fetch para obtener el balance actual de una cuenta particular de un usuario
      const getBalance = (cuenta = "") => {

        fetch(`https://localhost:44322/CuentasClientes/GetCuentaBalance/?cuenta=${cuenta}`)

            .then(function (res) {
            return res.json();
            })

            .then(function (balance) {
            document.getElementById("balance").value = balance;
        })
}

</script>
@*<script src="~/js/Cuentas.js"></script>*@