@{
    Layout = "_LayoutFree";
}

<link rel="stylesheet" href="/css/main.css" />

    <link rel="stylesheet" href="/css/MenuNavBar.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">

<div class="banner">
<img src= "~/IMG/bancoRep.jpeg" class="banner-image"/>
</div>

<div class="texto">
    <h1>Asociación Goldman</h1>
    <p> Una entidad financiera que cuida el dinero de sus socios y potencia su crecimiento financiero. Buscamos 
        ser una institución íntegra, que de seguridad a sus clientes, administrando su dinero y cuidando su capital</p>
</div>

<div class="representacion">
<div class="imagen-referencial">
    <img src= "~/IMG/satisfaccion1.jpg" />
</div>
<div class="imagen-referencial">
<img src ="~/IMG/adminDinero.jpg"/>
</div>
<div class="imagen-referencial">
<img src ="~/IMG/AdminDinero3.jpg"/>
</div>

</div>

@*<h3>Nuestros clientes no mienten</h3>

<div class="testimonio"></div>

<div class="testimonio"></div>

<div class="testimonio"></div>

<div class="testimonio"></div>

<div class="testimonio"></div>*@

