@model IEnumerable<Bussiness.Model.ViewModel.HistRetiros>

    <div class="contPagos">
        <table class="content-table">
            <thead>
            <tr>
               <td>
                  Codigo del pago
                </td>
                <td>
                    Fecha
                </td>
                 <td>
                   Cuenta de origen
                </td>
                 <td>
                   Moto Pagado
                </td>
            </tr>
            </thead>
            <tbody>
                       @{
                            foreach(var item in Model){
                    <tr>
                      <td>@Html.DisplayFor(pago => item.CodigoRetiro)</td>
                        <td>@Html.DisplayFor(pago=> item.Fecha)</td>
                        <td>@Html.DisplayFor(pago => item.CuentaOrigen)</td>
                        <td>@Html.DisplayFor(pago => item.MontoRetirado)</td>
                    </tr>
                            }
                       }
            </tbody>
        </table>
        </div>