@model IEnumerable<Bussiness.Model.ViewModel.VerTarjeta>

@{
    Layout = "_LayoutClientes";
}

<table class="table table-bordered">
            <tr>
                <td>
                    @Html.DisplayNameFor(tarjeta => tarjeta.BalanceConsumido)
                </td>
                 <td>
                    @Html.DisplayNameFor(tarjeta => tarjeta.MontoDisponible)
                </td>

            </tr>
            @{
        foreach(var item in Model)
        {
        <tr>
        <td>@Html.DisplayFor(card=> item.BalanceConsumido)</td>
        <td>@Html.DisplayFor(card=> item.MontoDisponible)</td>
         </tr>
         
        }
                }
        </table>