@{
    Layout = "_LayoutClientes";
}

<link rel="stylesheet" href="/css/Generales.css"/>

<div class="bienvenida">

    <h1>Bienvenido¡Te esperabamos!</h1>

    <div class="imagen-bienvenida">
        <img src = "/IMG/bienvenido.jpg"/>
    </div>

</div>