*{
    text-decoration: none;
}

body {

  /*  background-color: #F5F5F5;*/
    background-color: #ddd;
}

.bienvenida{
    font-size: 20px;
    margin-left: 150px;
    width: 80%;
}

.bienvenida img{
    width: 100%;
}