body {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.MainNavBar {
    background-color: #194464;
    width: 100%;
    float: left;
    position: fixed;
    top: 0;
    z-index:1;
}

#registrate{
    text-align:center;
    color: cornflowerblue;
    text-decoration:none;
}

.hiper {
    color: #FFFFFF;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}
