body {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.MainNavBar {
    background-color: #194464;
    width: 100%;
    float: left;
    position: fixed;
    top: 0;
    z-index:1;
}

#registrate{
    text-align:center;
    color: cornflowerblue;
    text-decoration:none;
}

.hiper {
    color: #FFFFFF;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}

/*#logoBanco{
    width:4%;
    vertical-align: middle;
}
*/

/*.desplegable {
    display: none;
    opacity: 0;
    top: 100%;
    padding: 0;
    list-style: none;
    text-decoration: none;
    transition: opacity 1.5s;
}*/

/*    .desplegable li {
        width: 150px;
    }

  .desplegable li a {
    line-height: 120%;
        padding: 10px 15px;
        }*/

/*ul li:hover ul {
    display: block;
    opacity: 1;
}*/