@{
    Layout = "_LayoutAdmin";
}

<link rel="stylesheet" href="/css/Generales.css"/>

<div class="bienvenida">

    <h1>Panel de administración</h1>

    <div class="imagen-bienvenida">
        <img src = "/IMG/panelAdmin.jpg"/>
    </div>

</div>