@Html.ActionLink("Cuentas", "Index", "AdminCuentas")
@Html.ActionLink("Prestamos", "Index", "AdminPrestamos")
@Html.ActionLink("Tarjetas", "Index", "AdminTarjetas")
@Html.ActionLink("Clientes", "Index", "AdminClients")

<p>@ViewBag.Message</p>