<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Presentation</title>
    <link rel="stylesheet" href="/css/MenuNavBar.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
          <link rel="stylesheet" href="/css/Generales.css"/>

@*    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />*@
</head>
<body>
    <header>
        <nav class="MainNavBar">
                <a  asp-area="" asp-controller="FreeSite" asp-action="Index" class="hiper">
                    Banco Gold Man
                    @*<img src= "~/IMG/LogoBanco.png" id="logoBanco" />*@
                </a>  
                   <a   asp-controller="UsuariosManagement" asp-action="Login" class="hiper"> Login</a>
                   <a  asp-area="" asp-controller="UsuariosManagement" asp-action="RegistroUsuario" class="hiper">Registrarse</a>
        </nav>
    </header>
           <main role="main" class="pb-3">
            @RenderBody()
        </main>
  
@*    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Presentation - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>

