<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
       <link rel="stylesheet" href="/css/NavBarMenuClientes.css" />
</head>
<body>
    <div id="menuLateral" class="menu-collapsed">

        @*Header*@
        <header id="header">
            <div id="titulo"> <span>Asociacion Goldman</span> </div>
                <div id="menu-btn">
                    <div class="btn-hamburguesa"></div>
                    <div class="btn-hamburguesa"></div>
                    <div class="btn-hamburguesa"></div>
                </div>
                </header>

                @*Perfil*@
                <div id="perfil">
                    <div id="foto">
                        <img src="@ViewBag.Foto" />
                    </div>
                    <div id="nombre">@ViewBag.Nombre</div>
                </div>

                @*Items del menu*@
                <div id="menu-items">              
                   <div class="item">
                        <a asp-action="Index" asp-controller="Admin">
                            <div class="icon"><img src="/IMG/Inicio.png"/></div>
                            <div class="titulo"><span>Inicio</span></div>
                        </a>
                    </div>
                     <div class="item separator"></div>
                    <div class="item">
                        <a href="#">
                            <div class="icon"><img src="/IMG/extracto-bancario.png"/></div>
                            <div class="titulo"><span>Administrar clientes</span></div>
                        </a>
                    </div>
                     <div class="item separator"></div>
                    <div class="item">
                        <a href="#">
                            <div class="icon"><img src="/IMG//Prestamos.png"/></div>
                            <div class="titulo"><span>Administrar Cuentas de ahorro</span></div>
                        </a>
                    </div>
                    <div class="item separator"></div>
                    <div class="item">
                        <a href="#">
                            <div class="icon"><img src="/IMG/tarjetas.png"/></div>
                            <div class="titulo"><span>Administrar tarjetas de credito</span></div>
                        </a>
                    </div>
                    <div class="item separator"></div>
                    <div class="item">
                        <a href="#">
                            <div class="icon"><img src="/IMG/tarjetas.png"/></div>
                            <div class="titulo"><span>Administrar préstamos</span></div>
                        </a>
                    </div>
                <div class="item separator"></div>
                    <div class="item">
                     <a asp-action="LogOut" asp-controller="UsuariosManagement">
                            <div class="icon"><img src="/IMG/Logout.png"/></div>
                            <div class="titulo"><span>Log Out</span></div>
                        </a>
                    </div>                   
                </div>
        </div>

        @RenderBody()

        <script src="~/js/menu.js"></script>
   
</body>
</html>